<h1>更新采购单</h1>

<%= render 'form' %>

<script>
  $(function(){
    $('.procurement_sku_id, .procurement_qty, .procurement_unit_price, .procurement_total_price, .procurement_received_qty, .procurement_purchased_at, .procurement_note').show()
  })
</script>