<h1>更新FBM发货单</h1>

<%= render 'form' %>

<script>
  $(function(){
    $('.fbm_delivery_record_deliver_at, .fbm_delivery_record_arrived_count, .fbm_delivery_record_sent_count, .fbm_delivery_record_sku_id').show();
  })
</script>