<div class="nested-fields">
  <%= f.input :ratio, label: t('investor.ratio'), input_html: { step: 0.01, max: 1 }, hint: t('ranges.investor.ratio_range') %>
  <%= f.input :start_at, label: t('investor.start_at'), as: :string, input_html: { class: 'flatpickr' } %>
  <%= f.input :end_at, label:t('investor.end_at'), as: :string, input_html: { class: 'flatpickr' } %>
</div>
<%= f.remove_nested_fields_link t('form.delete') %>
<hr>
