/*
 *= require_self
 *= require flatpickr
 *= require flatpickr/material_red
 */

 @import 'bootstrap';
 @import 'select2';

.hover-gray {
  &:hover {
    background-color: gainsboro;
  }
}

.inactive {
  opacity: 0.3;
}

.sku_file{
  display: none;
}