/*
 *= require_self
 *= require flatpickr
 *= require flatpickr/material_red
 */

 @import 'bootstrap';
 @import 'select2';

.hover-gray {
  &:hover {
    background-color: gainsboro;
  }
}

.inactive {
  opacity: 0.3;
}

.sku-form {
  .sku_file, .shipment_order_ref, .shipment_aws_order_ref, .shipment_total_fee, .shipment_transaction_at, .shipment_channel {
    display: none;
  }
}

.shipment-form {
  .shipment_file2 {
    display: none;
  }
}

.simple_form {
  .hint {
    display: none;
  }
  p.error {
    color: red;
  }
}