/*
 *= require_self
 *= require flatpickr
 *= require flatpickr/material_red
 */

 @import 'bootstrap';
 @import 'select2';

.hover-gray {
  &:hover {
    background-color: gainsboro;
  }
}

.inactive {
  opacity: 0.3;
}

.sku-form {
  .sku_file, .shipment_order_ref, .shipment_aws_order_ref, .shipment_total_fee, .shipment_transaction_at, .shipment_channel {
    display: none;
  }
}

.delivery_record-form {
  .delivery_record_deliver_at, .delivery_record_arrived_count, .delivery_record_sent_count, .delivery_record_sku_id {
    display: none;
  }
}

.fbm_delivery_record-form {
  .fbm_delivery_record_sku_id,.fbm_delivery_record_purchased_at,.fbm_delivery_record_amt,.fbm_delivery_record_purchase_note,.fbm_delivery_record_delivery_method,.fbm_delivery_record_delivery_status,.fbm_delivery_record_order_note,.fbm_delivery_record_aws_order_ref,.fbm_delivery_record_note {
    display: none;
  }
}

.shipment-form {
  .shipment_file2 {
    display: none;
  }
}

.simple_form {
  .hint {
    display: none;
  }
  p.error {
    color: red;
  }
}