<h1>更新物流信息</h1>

<%= render 'form' %>

<script>
  $(function(){
    $('.sku_file, .shipment_order_ref, .shipment_aws_order_ref, .shipment_total_fee, .shipment_transaction_at, .shipment_channel').show()
  })
</script>