<h1>更新发货单</h1>

<%= render 'form' %>

<script>
  $(function(){
    $('.delivery_record_deliver_at, .delivery_record_arrived_count, .delivery_record_sent_count, .delivery_record_sku_id').show();
  })
</script>